@model Product
@inject IDisplayer displayerService

@if (Model != null)
{
    <div class="container">
        <div class="row m-1">
            <h1 class="col h2">@Model.Title</h1>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (Image i in Model.Images)
                {
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="@displayerService.ReWriteImageUrl(i.Url)" alt="@Model.Title">
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                @Model.Description
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Model.Price €
            </div>
        </div>

    </div>
}
else
{
    <div class="row">
        <div class="col alert alert-danger">
            Aucun produit avec cet id
        </div>
    </div>
}