@if (ViewBag.Etudiant != null)
{
    <h1>Modifier l'etudiant N° @ViewBag.Etudiant.Id</h1>

}
else
{
    <h1>Ajouter un etudiant</h1>
}
<div class="container">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-@ViewBag.ClassCss">
            @ViewBag.Message
        </div>
    }
    <form asp-action="SubmitEtudiant" asp-controller="Ecole">
        @if (ViewBag.Etudiant != null)
        {
            <input type="hidden" name="id" value="@ViewBag.Etudiant.Id" />
        }
        <div class="row m-1">
            <input placeholder="Nom " value="@(ViewBag.Etudiant != null ? ViewBag.Etudiant.Nom : "")" type="text" class="col form-control" name="nom" />
        </div>
        <div class="row m-1">
            <input placeholder="Prénom " value="@(ViewBag.Etudiant != null ? ViewBag.Etudiant.Prenom : "")" type="text" class="col form-control" name="prenom" />
        </div>
        <div class="row m-1">
            <input placeholder="Email  " value="@(ViewBag.Etudiant != null ? ViewBag.Etudiant.Email : "")" type="text" class="col form-control" name="email" />
        </div>
        <div class="row m-1">
            <input placeholder="Téléphone " type="text" value="@(ViewBag.Etudiant != null ? ViewBag.Etudiant.Telephone : "")" class="col form-control" name="telephone" />
        </div>
        <div class="row m-1">
            <input placeholder="Adresse " type="text" value="@(ViewBag.Etudiant != null ? ViewBag.Etudiant.Adresse : "")" class="col form-control" name="adresse" />
        </div>
        <div class="row m-1">
            <input placeholder="Code postal " type="text" value="@(ViewBag.Etudiant != null ? ViewBag.Etudiant.CodePostal : "")" class="col form-control" name="codePostal" />
        </div>
        <div class="row m-1">
            <input placeholder="Ville " type="text" class="col form-control" value="@(ViewBag.Etudiant != null ? ViewBag.Etudiant.Ville : "")" name="ville" />
        </div>
        <div class="row m-1">
            <select class="col form-control" name="classe">
                @if (ViewBag.Etudiant != null)
                {
                    <option value="@ViewBag.Etudiant.Classe.Id">@ViewBag.Etudiant.Classe.Nom</option>
                }
                @foreach (Classe c in Model)
                {
                    <option value="@c.Id">@c.Nom</option>
                }
            </select>
        </div>
        <div class="row m-1">
            <button class="btn col btn-success form-control">Valider</button>
        </div>
    </form>
</div>