@if (ViewBag.Prof == null)
{
    ViewBag.Prof = new Prof();
    <h1>Ajouter un prof</h1>
}
else
{
    <h1>Modification du Prof N° @ViewBag.Prof.Id</h1>
}

<div class="container">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-@ViewBag.ClassCss">
            @ViewBag.Message
        </div>
    }
<form asp-action="SubmitProf" asp-controller="Ecole">
    @if (ViewBag.Prof != null)
    {
        <input type="hidden" name="id" value="@ViewBag.Prof.Id" />
    }
    <div class="row m-1">
        <input placeholder="Nom " value="@ViewBag.Prof.Nom" type="text" class="col form-control" name="nom" />
    </div>
    <div class="row m-1">
        <input placeholder="Prénom " value="@ViewBag.Prof.Prenom" type="text" class="col form-control" name="prenom" />
    </div>
    <div class="row m-1">
        <input placeholder="Email  " value="@ViewBag.Prof.Email" type="text" class="col form-control" name="email" />
    </div>
    <div class="row m-1">
        <input placeholder="Téléphone " value="@ViewBag.Prof.Telephone" type="text" class="col form-control" name="telephone" />
    </div>
    <div class="row m-1">
        <input placeholder="Adresse " value="@ViewBag.Prof.Adresse" type="text" class="col form-control" name="adresse" />
    </div>
    <div class="row m-1">
        <input placeholder="Code postal " value="@ViewBag.Prof.CodePostal" type="text" class="col form-control" name="codePostal" />
    </div>
    <div class="row m-1">
        <input placeholder="Ville " value="@ViewBag.Prof.Ville" type="text" class="col form-control" name="ville" />
    </div>
    <div class="row m-1">
        <select class="col form-control" name="matiere">
            @if (ViewBag.Prof != null)
            {
                <option value="@ViewBag.Prof.Matiere.Id">@ViewBag.Prof.Matiere.Nom</option>
            }
            @foreach (Matiere c in Model)
            {
                <option value="@c.Id">@c.Nom</option>
            }
        </select>
    </div>
    <div class="row m-1">
        <button class="btn col btn-success form-control">Valider</button>
    </div>
</form>
</div>